body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Your chosen font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #f7f7f5; 
}

code {
  font-family: 'Roboto', monospace; /* Use monospaced variant of Roboto if available, or a default monospace font */
}
